@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 16px;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* FONTS */
.card-title {
    font-size: 3.125rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    font-weight: 600;
}
.card-subtitle {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem 0;
}
.email-form-title {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 20px;
}

/* HERO SECTION*/
.hero-section {
    background-image: linear-gradient(
            rgba(0,0,0,0.6), 
            rgba(0,0,0,0.6)
        ),
        url(assets/netflix-background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

/* hero nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    margin: 0 45px;
    padding-top: 25px;
}
nav img {
    height: 40px;
}

nav a {
    padding: 7px 17px;
    color: white;
    background-color: rgb(226, 2, 2);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.banner-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 45px 200px;
    border-bottom: 10px solid #222222;
    text-align: center;
}

.banner-container h1 {
    font-size: 3.2em;
}

.get-started-form {
    height: 60px;
    display: flex;
}

.get-started-form input {
    height: 100%;
    width: 450px;
    background-color: transparent;
    padding-left: 10px;
    color: white;
    border: 1px solid rgba(255,255,255,0.4);
}

.get-started-form button {
    background-color: rgb(226, 2, 2);
    color: white;
    font-weight: bold;
    height: 100%;
    font-size: 1.625rem;
    border: none;
    min-height: 60px;
    padding: 0 26px;
    border-left: 1px solid #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-container {
    background: black;
    color: white;
    display: flex;
    padding: 70px 45px;
    border-bottom: 10px solid #222222;
    justify-content: space-between;
    align-items: center;
}

.info-container:hover {
    background: black;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.tv-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.tv-container img {
    width: 550px;
    height: 350px;
}

.tv-container video {
    position: absolute;
    width: 500px;
    padding-bottom: 30px;
}

/* FOOTER STYLES */
footer {
    background-color: black;
    padding: 70px 50px 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer ul li, .questions-title {
    color: #757575;
}

footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.questions-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-links {
    list-style-type: none;
    columns: 2;
    padding: 0;
}

.footer-links li {
    font-size: 13px;
    line-height: 2;
}

.language {
    height: 53px;
    width: 142px;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #999999;
    padding: 0 10px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: black;
}

.language select {
    padding: 10px;
    width: 100%;
    border: none;
    appearance: none;
    color: #999999;
    background: url(assets/drop-down-arrow.png) no-repeat 100%;
    background-size: 20px 15px;
    outline: none;
}